/* ----- BASE ----- */
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: white;
}
.header_text {
  font-size: 35px;
}
.header_link:hover {
  color: #D32F2F;
  border-bottom: #D32F2F solid 4px;
}
.drawer_link {
  transition: all .5s;
}
.drawer_link:hover {
  font-size: 1.5em;
}
.tab {
  color: #fff;
  font-size: 2em;
}

/* ----- INDEX ----- */
.center {
  width: 100%;
  text-align: center;
}
.titulo {
  background-color: rgba(255, 255, 255, 0.5);
  color: #0d47a1;
  font-size: 6em;
}
.enlace {
  display: inline-block;
  padding: 50px;
  margin: 10px 50px 0 60px;
  background: #fff;
  border-radius: 50%;
  transition: all .5s;
  color: #0d47a1;
}
.enlace:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.enlace .icon {
  font-size: 7em;
}
.text .enlace_text {
  display: inline-block;
  padding: 20px;
  margin: 0 30px;
  background: #fff;
  text-decoration: none;
  font-size: 3em;
  border-radius: 10px;
  transition: all .5s;
  color: #0d47a1;
}
.text .enlace_text:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* ----- ARCHIVOS ----- */
.archivo {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.5em;
  transition: all .5s;
}
.archivo:hover {
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.8em;
}
.archivo a {
  text-decoration: none;
}
.nuevo {
  position: absolute;
  right: 60px;
  bottom: 60px;
}


/* ----- LOGIN ----- */
.alert {
  margin-top: 30px;
  color: #c62727;
}
.alert p {
  font-size: 1.5em;
}
.oculto {
  display: none;
}
.form {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

/* ----- BIENVENIDA ----- */
.mensaje {
  width: 60%;
  margin: 50px auto 0;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #0d47a1;
  border-radius: 15px;
}
.mensaje p {
  font-size: 2em;
}
.mensaje img {
  border-radius: 50%;
}


/* ----- COMENTARIOS ----- */
.blanco {
  color: #fff;
}
.form_comment {
  width: 70%;
  margin: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-align: center;
}
.ancho {
  width: 80%;
}


/* ----- COMENTARIOS ----- */
.boton_file:hover {
  color: #fff;
  background: #0d47a1;
}
