{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block contenido %}
  <br><br>
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
          <a href="#img" class="mdl-tabs__tab is-active tab">Imágenes</a>
          <a href="#pdf" class="mdl-tabs__tab tab">PDF</a>
          <a href="#word" class="mdl-tabs__tab tab">WORD</a>
          <a href="#ppt" class="mdl-tabs__tab tab">POWERPOINT</a>
          <a href="#txt" class="mdl-tabs__tab tab">TXT</a>
          <a href="#otros" class="mdl-tabs__tab tab">OTROS</a>
      </div>

      <div class="mdl-tabs__panel is-active" id="img">
          {% if archivos %}
            <ul class="demo-list-icon mdl-list">
              {% for archivo in archivos %}
                {% if archivo.rsplit('.', 1)[1] in ['jpg', 'jpeg', 'gif'] %}
                  <li class="mdl-list__item archivo">
                    <span class="mdl-list__item-primary-content">
                      <i class="material-icons mdl-list__item-icon">image</i>
                      <a href="/uploads/{{ archivo }}">{{ archivo }}</a>
                    </span>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% else %}
            <p class="archivo">No hay archivos</p>
          {% endif %}
      </div>
      <div class="mdl-tabs__panel" id="pdf">
        {% if archivos %}
          <ul class="demo-list-icon mdl-list">
            {% for archivo in archivos %}
              {% if archivo.rsplit('.', 1)[1] == 'pdf' %}
              <li class="mdl-list__item archivo">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">picture_as_pdf</i>
                  <a href="/uploads/{{ archivo }}">{{ archivo }}</a>
                </span>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% else %}
          <p class="archivo">No hay archivos</p>
        {% endif %}
      </div>
      <div class="mdl-tabs__panel" id="word">
        {% if archivos %}
          <ul class="demo-list-icon mdl-list">
            {% for archivo in archivos %}
              {% if archivo.rsplit('.', 1)[1] == 'docx' %}
              <li class="mdl-list__item archivo">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">insert_drive_file</i>
                  <a href="/uploads/{{ archivo }}">{{ archivo }}</a>
                </span>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% else %}
          <p class="archivo">No hay archivos</p>
        {% endif %}
      </div>
      <div class="mdl-tabs__panel" id="ppt">
        {% if archivos %}
          <ul class="demo-list-icon mdl-list">
            {% for archivo in archivos %}
              {% if archivo.rsplit('.', 1)[1] == 'pptx' %}
              <li class="mdl-list__item archivo">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">insert_drive_file</i>
                  <a href="/uploads/{{ archivo }}">{{ archivo }}</a>
                </span>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% else %}
          <p class="archivo">No hay archivos</p>
        {% endif %}
      </div>
      <div class="mdl-tabs__panel" id="txt">
        {% if archivos %}
          <ul class="demo-list-icon mdl-list default">
            {% for archivo in archivos %}
              {% if archivo.rsplit('.', 1)[1] == 'txt' %}
              <li class="mdl-list__item archivo">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">description</i>
                  <a href="/uploads/{{ archivo }}">{{ archivo }}</a>
                </span>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% else %}
          <ul class="mdl-list">
            {% for tema in temas %}
              <li class="mdl-list__item archivo">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">mode_comment</i>
                  <a href="#">Lo sentimos, por el momento no hay archivos.</a>
                </span>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="mdl-tabs__panel" id="otros">
        {% if archivos %}
          <ul class="demo-list-icon mdl-list">
            {% for archivo in archivos %}
              {% if archivo.rsplit('.', 1)[1] not in ['jpg', 'jpeg', 'gif', 'pdf', 'docx', 'pptx', 'txt'] %}
              <li class="mdl-list__item archivo">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">attachment</i>
                  <a href="/uploads/{{ archivo }}">{{ archivo }}</a>
                </span>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% else %}
          <p class="archivo">No hay archivos</p>
        {% endif %}
      </div>
  </div>
{% endblock %}
