{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block css %}ul {color: #c62727}{% endblock %}

{% block contenido %}
  <section class="center">
    <h1 class="titulo">Cuenta</h1>

    <br><br>

    <form method="post" class="mdl-layout__content form" id="form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {{form.user(class_='mdl-textfield__input')|safe}}
        {{form.user.label(class_='mdl-textfield__label')}}
      </div>
      {% if form.user.errors %}
      <ul>
        {% for error in form.user.errors %}
        <li> {{ error }} </li>
        {% endfor %}
      </ul>
      {% endif  %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li> {{ message }} </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <br>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {{form.pwd3(class_='mdl-textfield__input')|safe}}
        <label class="mdl-textfield__label" for="pwd">Contraseña Actual</label>
      </div>
      {% if form.pwd3.errors %}
      <ul>
        {% for error in form.pwd3.errors %}
        <li> {{ error }} </li>
        {% endfor %}
      </ul>
      {% endif  %}

      <br>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {{form.pwd(class_='mdl-textfield__input')|safe}}
        <label class="mdl-textfield__label" for="pwd">Nueva Contraseña</label>
      </div>

      <br>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" id="pwd2" name="pwd2" type="password">
        <label class="mdl-textfield__label" for="pwd2">Confirmar Nueva Contraseña</label>
      </div>

      <br>

      <input type="button" value="Aceptar" class="mdl-button mdl-button--raised mdl-button--colored" onclick="Confirmar_Password()">

      <div class="alert oculto" id="oculto">
        <p>Las contraseñas no coinciden</p>
      </div>
    </form>
  </section>
{% endblock %}
