{% extends 'base2.html' %}

{% block title %}{{ title }}{% endblock %}

{% block contenido %}
<section class="center">
  <h1 class="titulo">Biblioteca Virtual</h1>

  <br><br>

  <section class="text">
    <a class="enlace_text" href="/login">Iniciar Sesión</a>
    <a class="enlace_text" href="/registro">Registro</a>
  </section>
  <section class="options">
    <a class="enlace" href="/login"><i class="material-icons icon">vpn_key</i></a>
    <a class="enlace" href="/registro"><i class="material-icons icon">assignment</i></a>
  </section>
</section>
{% endblock %}
