{% extends 'base2.html' %}

{% block title %}{{ title }}{% endblock %}

{% block css %}ul {color: #c62727}{% endblock %}

{% block contenido %}
  <section class="center">
    <h1 class="titulo">Iniciar Sesión</h1>

    <br><br>

    <form method="post" class="mdl-layout__content">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      {% from "_macro.html" import render_field %}
      {{ render_field(form.user, placeholder = 'Ingresa tu usuario...') }} <br><br>
      {{ render_field(form.pwd, placeholder = 'Ingresa tu contraseña...') }} <br><br>

      <input type="submit" name="Entrar" value="Entrar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert">
            <p>Usuario o contraseña no válidos.</p>
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </form>
  </section>
{% endblock %}
