{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
.titulo {
  text-align: center;
  background: none;
  color: #fff;
}
{% endblock %}

{% block contenido %}
  <h1 class="titulo">Temas</h1>

  <a href="/crear_tema"><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored nuevo" title="Nuevo"><i class="material-icons">add</i></button></a>
  <a href="/upload" class="nuevo_link">Nuevo</a>

  {% if temas %}
    <ul class="mdl-list">
      {% for tema in temas %}
        <li class="mdl-list__item archivo">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">mode_comment</i>
            <a href="/comentarios/{{ tema.id }}">{{ tema.tema }}</a>
          </span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <ul class="mdl-list">
      {% for tema in temas %}
        <li class="mdl-list__item archivo">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">mode_comment</i>
            <a href="#">Lo sentimos, por el momento no hay temas.</a>
          </span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
